package instagram

// Copy this to config_test.go (its ignored by git)
// And fill in at least your test client_id and client_secret
// You can get the client information from http://developers.soundcloud.com/you/apps
// And you'll have to authorize with that client to get a token
// You don't NEED access tokens per se but some requests require it.
// If you are only using this for yourself, you may use your username and password
// to perform the auth, but the soundcloud ToS do not allow you to use it without permission

var TestConfig map[string]string = map[string]string{
	"client_id":     "",
	"client_secret": "",
	"access_token":  "",
	"refresh_token": "",
	"username":      "",
	"password":      "",
	"my_id": uint64(1234567), // The authenticated user's ID
}